.Banner {
    margin-top: 16px;
    display: flex;
    position: relative;
    z-index: -1;
    transition: 1s;
    width: 100%;
}

.Banner img{
    
    justify-content: center;
    border-radius: 16px;
}

.titleBanner {
    border-radius: 16px;
    padding: 8px 8px;
    width: 300px;
    background-color:rgb(238, 248, 248);
    opacity: 0.9;
}

.container-banner {
    display: flex;
    overflow-x: hidden;
}