.secaoGeral {
    padding: 32px;
}

.favorite-container {
    z-index: 1;
    transition: 0.2s;
    background-color: white;
    height: 40px;
    width: 40px;
    border: none;
    font-size: 20px;
}

.fotosSecundarias{
    display: flex;
    flex-wrap: wrap;
}

.photo > label{
    display: none;
}
.photo.n-6 > label{
    display: flex !important;
}
#last{
    position: relative;
}
.photo{
    position: relative;
}
.label-last-photo > img{
    border-radius: 0 !important;
}

@media (width < 1853px) {
    .photo.n-5, .photo.n-6 {
        display: none;
    }
    .photo > label{
        display: none;
    }
    .photo.n-4 > label{
        display: flex;
    }
}
@media (width <= 1536px) {
    .photo.n-3, .photo.n-4 {
        display: none;
    }
    .photo > label{
        display: none;
    }
    .photo.n-2 > label{
        display: flex;
    }
}
@media (width <= 1130px) {
    .photo{
        display: none;
    }
}

.label-last-photo{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.57);
    position: absolute;
    padding: 10px;
    border-radius: 8px;
    right: 20px;
    bottom: 20px;
    backdrop-filter: blur(2px);
}

.secondary-photo{
    width: 300px;
    height: 250px;
    object-fit: cover;
}

.main-photo{
    width: 670px;
    height: 505px;
    object-fit: cover;
}

button.favorite-container-pag{
    background-color: transparent;
    border: none;
}

.actived-favorited{
    animation: ActivedFav 1s;
}

@keyframes ActivedFav {
    0%{
        transform: scale(0.8);
    }
    40%{
        transform: scale(1.1);
    }
    70%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1.0);
    }
}

.favorite-container:hover{
    transform: scale(1.05);
}

.secaoGeral img{
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 8px;
    border-radius: 10px;
}

.gapTitulo{
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
}

.favoritarAnuncio{
    align-items: center;
    display: flex;
}

.favoritarAnuncio p{
    margin-left: 8px;
}

.fotosAnuncio{
    flex-direction: row;
    display: flex;
}
