header { 
    padding: 32px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}


.textButton {
    display: flex;
    gap: 16px;
}

.login {
    display: flex;
    align-items: center;
}

.login img {
    padding-left: 16px;
    height: 22px;
    text-decoration: none;
    padding-right: 32px;
}


.logo img {
    height: 64px;
    object-fit: contain;
}

